<ion-header [translucent]="true">
  <app-componente1 titulo="Página Inicio Sesión" [datos]="Persona"></app-componente1>
</ion-header>

<ion-content [fullscreen]="true">
  <p *ngIf="edad < 39">{{ Persona.nombre | uppercase }}</p>
  <ion-item *ngFor="let x of listaP">
    <ion-label><b>ID: </b>{{ x.id }}</ion-label>
    <ion-label><b>Comuna: </b>{{ x.comuna | lowercase }}</ion-label>
  </ion-item>



  <ion-item>
    <ion-input label="Nombre de Usuario" labelPlacement="floating" placeholder="Ingrese su nombre de usuario" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <mat-spinner></mat-spinner>

  <ion-button color="success" [routerLink]="['/home']">Ir al Home {{ nombre }}</ion-button>
  <ion-button color="warning" (click)="irPagina()">Ir a Agregar</ion-button>
</ion-content>